<form>
<table>
  <th *ngFor="let column of headers">
    {{column}}
  </th>
  <tr *ngFor="let row of servicesList">
    <td *ngFor="let column of Columns">
      {{row[column]}}
    </td>
    <td>
      <button type="button" (click)="delete(row['serviceName'])">Delete</button>
    </td>
  </tr>
</table>
<br> <br>
<label>Service Name </label> 
<input id="txtServiceName" placeholder="Service Name" /> 
&nbsp;&nbsp;
<label>Service URL </label> 
<input id="txtServiceUrl" placeholder="Service URL" />

<br><br><br>

<button type="button" (click)="add()">Add</button>
&nbsp;
<button type="button" (click)="update()">Update</button>
</form>